nav {
  text-align: right;
  font-family: 'Cocogoose', sans-serif;
  font-weight: 300;
  font-size: 12px;
}

nav ul {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  
}

nav li {
  display: inline-block;
}

nav a {
  padding: 25px 40px;
  margin-right: -4px;
  font-family: 'Cocogoose', sans-serif;
  font-weight: 300;
  font-size: 12px;
  text-decoration: none;
  color: #000;
}

nav a.menu:hover {
  background-color: red;
  color: #fff;
}

.logo_menu {
  float: left;
  width: 120px;
}

nav li button {
  background-color: black;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 25px 40px;
  margin-right: 45px;
  font-family: 'Cocogoose', sans-serif;
  font-weight: 300;
  font-size: 12px;
}

nav li button:hover {
  background-color: red;
  color: #fff;
}

nav img {
  max-width: 100%;
  height: auto;
}



  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    padding: 0px 105px 0px 105px;
    left: 0;
    right: 0;
}


  .content {
    flex: 1;
  }
  

  .image img {
    width: 415px;
    height: auto;
    float: right;
}

body {
    margin: 0;
    padding: 0;
}
  
  .button_1 {
    background-color: black;
    border: none;
  /*  border-radius: 3px; */
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    padding: 20px 40px;
    font-family: 'Cocogoose', sans-serif;
    font-weight: 300;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .button_2 {
    border-color: black;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    font-size: 15px;
    padding: 18px 40px;
    font-family: 'Cocogoose', sans-serif;
    font-weight: 300;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .button_1:hover {
    background-color: red;
    color: #fff;
  }

  .button_2:hover {
    background-color: red;
    border-color: red;
    color: #fff;
  }

  .container {
    font-family: 'Cocogoose Pro Light', sans-serif;
    font-size: 30px;
  }

  .titre {
    margin: 50px 40px 30px 0px;
    line-height: 80px;
  }

  .img {
    margin: 50px 0px 0px 0px;
  }
