nav {
    text-align: right;
    font-family: 'Cocogoose', sans-serif;
    font-weight: 300;
    font-size: 12px;
  }
  
  nav ul {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    
  }

  nav li {
    display: inline-block;
  }

  nav a {
    padding: 25px 40px;
    margin-right: -4px;
    font-family: 'Cocogoose', sans-serif;
    font-weight: 300;
    font-size: 12px;
    text-decoration: none;
    color: #000;
}

nav a.menu:hover {
    background-color: red;
    color: #fff;
}

  .logo_menu {
    float: left;
    width: 120px;
  }

  nav li button {
    background-color: black;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 25px 40px;
    margin-right: 45px;
    font-family: 'Cocogoose', sans-serif;
    font-weight: 300;
    font-size: 12px;
  }

  nav li button:hover {
    background-color: red;
    color: #fff;
  }

  nav img {
    max-width: 100%;
    height: auto;
  }

  body {
    margin: 0;
    padding: 0;
}
  



  .wrapper {
    display: flex;
    align-items: flex-start;
    position: absolute;
  }
  
  .menu2 {
    display: flex;
    flex-direction: column;
    margin-top: -8px;
  }
  
  .menu2 li {
    list-style: none;
    margin-bottom: 10px;
  }
  
  .menu-btn {
    padding-top: 7px;
    border: none;
    background-color: rgb(199, 249, 154);
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin-top: -11px;
    font-family: 'Cocogoose Light', sans-serif;
    font-size: 8px;
    line-height: 11px;
    border: 1px solid black;
  }
  
  .menu-btn.active {
    background-color: #e0e0e0;
    width: 50px;
    height: 50px;
    font-family: 'Cocogoose Light', sans-serif;
    font-size: 8px;
    line-height: 11px;

  }
  
  .box-container {
    flex-grow: 1;
  }
  
  .box {
    display: none;
    padding: 25px;
    background-color: #EBE9E9;
    width: 390px;
    height: 292px;
    margin-left: -1px;
    margin-top: -8px;
    border: 1px solid black;
    overflow: auto;
    overflow-anchor: none;
  }
  
  .box.active {
    display: block;
    font-family: 'Cocogoose', sans-serif;
    font-size: 12px;
    overflow: auto;
    
  }


  .menu_logo {
    background-color: #e0e0e0;
    width: 50px;
    height: 50px;
    border: 1px solid black;
  }

  .titre {
    font-family: 'Cocogoose', sans-serif;
    font-size: 11px;
    text-align: center;
  }

  .paragraphe {
    font-family: 'Cocogoose Light', sans-serif;
    font-size: 10px;
    text-align: center;
  }


  .box.active_1 {
    display: block;
    background-color: gray;
    font-family: 'Cocogoose', sans-serif;
    font-size: 12px;
    width: 655px;
  }

  img.small.portrait {
   scale: 0.56;
   transform: translateY(-39%);
  }

  .format {
    width: 155px;
    position: relative;
  }


  .format-choisi {
    width: 520px;
    height: 289px;
  }


  img.small.portrait {
    display: block;
   }

  .format:hover::before {
    content: "";
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
  }
  
  .format img {
    max-width: 100%;
    margin-top: 7px;
  }
  
  h3{
    margin-top: -0.5px;
  }

  .typo1 {
    position: absolute;
    font-family: 'Cocogoose Pro UltraLight Italic' , sans-serif;
    font-size: 12px;
    margin-left: 50px;
    margin-top: -50px;
  }

  .typo2 {
    position: absolute;
    font-family: 'Cocogoose Pro UltraLight Italic', sans-serif;
    font-size: 12px;
    margin-left: 35px;
    margin-top: -75px;
  }


  .color-picker-container {
    display: flex;
    flex-direction: column;
  }
  
  #color-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .color-item {
    display: flex;
    align-items: center;
    margin: 5px 5px;
    width: 40px;
    height: 40px;
  }
  
  .color-item span {
    font-size: 4px;
  }
  

/* Estilos para la barra de herramientas */
.toolbar {
  background-color: #eee;
  padding: 10px;
}

/* Estilos para el botón del modelo preestablecido */
#modelo-btn {
  background-image: url(./img/Visuel\ 1.svg);
  border: none;
  width: 100px;
  height: 100px;
}


.modèle {
  width: 49%;
}

.box-modèles {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.box-modèles1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.button-générer {
    display: block;
    padding: 0.5rem 1rem;
    width: 250px;
    margin: 0 auto;
    margin-top: 360px;
    border-color: black;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    font-size: 12px;
    font-family: 'Cocogoose', sans-serif;
    font-weight: 300;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 8px;
  }
