nav {
  text-align: right;
  font-family: 'Open Sans SemiBold', sans-serif;
  font-weight: 300;
  font-size: 12px;
  background-color: #F2F2F2;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 80px 0 rgba(0, 0, 0, 0.19);
  height: 65px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

nav ul {
  list-style: none;
  display: inline-block;
  margin: -5px;    
}

nav li {
  display: inline-block;
}

nav a {
  padding: 8px 35px;
  margin-right: 10px;
  font-weight: 300;
  text-decoration: none;
  background-color: red;
  border-radius: 8px;
  color: white;
}

.logo_menu {
  float: left;
  width: 120px;
  padding: 20px 50px;
  margin-top: 3px;
  background-color: transparent;
}

nav li button {
  border: 1px solid black;
  color: black;
  border-radius: 8px;
  cursor: pointer;
  padding: 8px 35px;
  font-family: 'Open Sans SemiBold', sans-serif;
  font-weight: 300;
  font-size: 12px;
  margin-top: 20px;
  margin-right: 45px;

}

--> contenu

.wrapper {
  display: flex;
align-items: flex-end;
}

ul.menu2 {
  position: fixed;
  left: 0;
  padding: 0;
  margin: 0;
}

.menu2 {
  display: 0 0 auto;
  flex-direction: column;
  margin: 0;
}

.menu2 li {
  list-style: none;
}

.menu-btn {
  padding-top: 7px;
  border: 0.5px solid;
  background-color: #202020;
  width: 70px;
  height: 70px;
  font-family: 'Cocogoose Light', sans-serif;
  font-size: 9px;
  color: white;
  border: 1px solid black;
}

.menu-btn.active {
  background-color: #3C3E4C;
  width: 70px;
  height: 70px;
  font-family: 'Cocogoose Light', sans-serif;
  font-size: 9px;
  color: white;
  line-height: 11px;

}

.menu-btn1 {
  padding-top: 7px;
  background-color: #202020;
  width: 70px;
  height: 157px;
  font-family: 'Cocogoose Light', sans-serif;
  font-size: 9px;
  color: white;
  border: 1px solid black;
}


.box-container {
  display: flex;
  margin-top: 65px;
}

.box {
  display: none;
  position: fixed;
  background-color: #3C3E4C;
  width: 390px;
  height: 577px;
}

.box.active {
  display: block;
  font-family: 'Cocogoose', sans-serif;
  font-size: 12px;
  margin-left: 61px;
}

.box.active_1 {
  display: block;
  background-color: #EDEDED;
  font-family: 'Cocogoose', sans-serif;
  font-size: 12px;
  width: 64.15%;
  position: fixed;
  right: 0;
  height: 500px;

}


.box-container_2 {
  display: block;
  justify-content: space-between;
}

.box_download {
  border: 1px solid black;
  color: black;
  margin-top: 500px;    
  padding: 3px 35px 13px 35px;
  font-family: 'Cocogoose', sans-serif;
  font-weight: 300;
  font-size: 10px;
  width: 58.65%;
  position: fixed;
  right: 0;
  height: 59.2px;
}

h4 {
  margin-bottom: -4px;
}

.box_download {
 display: flex;
}

#texte_button {
  font-family: 'Cocogoose', sans-serif;
  font-weight: 300;
  font-size: 9px;
  margin-right: 200px;
}


.button_download {
width: 165px;
height: 40px;
border: 1px solid black;
background-color: transparent;
border-radius: 8px;
margin-top: 15px;
font-family: 'Open Sans SemiBold', sans-serif;
font-size: 13px;
}

.icon {
  margin-right: 7px;
}

.info_intro {
  padding: 30px 30px;
  color: white;
}

.intro_box {
  font-size: 22px;
}

.text_intro {
  font-weight: 200;
  font-size: 12px;
}

.info_formats {
  padding: 30px 30px;
  color: white;
}


.titre_formats {
  font-size: 12px;
}

.typo1 {
  position: absolute;
  font-family: 'Open Sans Regular' , sans-serif;
  font-size: 12px;
  margin-left: 50px;
}


.info_image {
  padding: 30px 30px;
  color: white;
}

.titre_image {
  font-size: 12px;
}

.info_modèles {
  padding: 30px 30px;
  color: white;
}

.titre_modèles {
  font-size: 12px;
}

.info_couleurs {
  padding: 30px 30px;
  color: white;
}

.titre_couleurs {
  font-size: 12px;
}

.info_police {
  padding: 30px 30px;
  color: white;
}

.titre_police {
  font-size: 12px;
}



.wrapper .preview-img{
  flex-grow: 1;
  display: flex;
  overflow: hidden;
}
.preview-img img{
  max-width: 490px;
  max-height: 335px;
  width: 60%;
  height: 60%;
  object-fit: contain;
}
.controls button{
  padding: 11px 20px;
  font-size: 12px;
  outline: none;
  color: #fff;
  cursor: pointer;
  background: none;
  transition: all 0.3s ease;
  text-transform: uppercase;
}
.controls .choose-img{
  background: #6C757D;
  border: 1px solid #6C757D;
}

.box-container_2 .typo1 {
  display: none;
}

img.modèle-img {
  margin-top: 20px;
}


#modèle1 {
  background-color: #F5F5F5;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.modelo-clonado {
  margin-top: 20px;
  width: 56.5%;
  height: 461.75px;
}

.img_modèl {
  width: 170px;
}

div#visualisation-container {
  text-align: -webkit-center;
  scale: 1.6;
  margin-left: 140px;
  transform: translateY(55px);

}

.contenido {
      color: black;
    text-align: left;
}

.titre_modèle1 {
  font-size: 22px;
  margin-right: 25px;
}

.text_modèle1 {
  font-size: 10px;
  margin-right: 25px;
  font-weight: 200;
}

div#modèle1 {
  scale: 0.6;
    margin-left: -80px;
    margin-top: -70px;
}

div#format {
  text-align: -webkit-center;
  scale: 0;
  margin-left: 0px;
  transform: translateY(0);
}