 nav {
    text-align: right;
    font-family: 'Cocogoose', sans-serif;
    font-weight: 300;
    font-size: 15px;
  }
  
  nav ul {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    
  }

  nav li {
    display: inline-block;
  }

  nav a {
    display: inline-block;
    padding: 45px;
    text-decoration: none;
    color: #333;
  }

  .logo_menu {
    float: left;
    width: 160px;
  }

  nav li button {
    background-color: black;
    border: none;
  /*  border-radius: 3px; */
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 25px 40px;
    margin-right: 45px;
    font-family: 'Cocogoose', sans-serif;
    font-weight: 300;
    font-size: 15px;
  }

  nav img {
    max-width: 100%;
    height: auto;
  }


  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Cocogoose', sans-serif;

  }

  .content {
    flex: 1;
  }
  
  .image {
    margin-left: 20px;
  }
  
  .image img {
    max-width: 100%;
    height: auto;
    float: right;
  }
  
  