nav {
  text-align: right;
  font-family: 'Open Sans SemiBold', sans-serif;
  font-weight: 300;
  font-size: 12px;
  background-color: #F2F2F2;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 80px 0 rgba(0, 0, 0, 0.19);
  height: 65px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

nav ul {
  list-style: none;
  display: inline-block;
  margin: -5px;    
}

nav li {
  display: inline-block;
}

nav a {
  padding: 8px 35px;
  margin-right: 10px;
  font-weight: 300;
  text-decoration: none;
  background-color: red;
  border-radius: 8px;
  color: white;
}

  .logo_menu {
      float: left;
      width: 120px;
      padding: 20px 50px;
      margin-top: 3px;
      background-color: transparent;
    }
    
    nav li button {
      border: 1px solid black;
      color: black;
      border-radius: 8px;
      cursor: pointer;
      padding: 8px 35px;
      font-family: 'Open Sans SemiBold', sans-serif;
      font-weight: 300;
      font-size: 12px;
      margin-top: 20px;
      margin-right: 45px;

    }

    nav img {
      max-width: 80%;
      height: auto;
    }
    
    
      .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 75px 100px 0px 100px;
        font-family: 'Cocogoose Light', sans-serif;

    }
    
      .content {
        flex: 1;
      }
    
      .image img {
        width: 430px;
        margin-top: 45px;
        height: auto;
        float: right;
    }
    
    body {
        margin: 0;
        padding: 0;
    }

    .button_1 {
      background-color: black;
      border: none;
      color: #fff;
      cursor: pointer;
      font-size: 15px;
      padding: 13px 40px;
      font-family: 'Open Sans SemiBold', sans-serif;
      font-weight: 300;
    }
    
    .button_2 {
      border-color: black;
      background-color: #fff;
      color: #000;
      cursor: pointer;
      font-size: 15px;
      padding: 11px 40px;
      font-family: 'Open Sans SemiBold', sans-serif;
      font-weight: 300;
    }

    .container {
      font-family: 'Cocogoose', sans-serif;
      font-weight: 300;
      font-size: 30px;

    }
  
    .titre {
      margin: 50px 40px 30px 0px;
      font-family: 'Cocogoose Light', sans-serif;
      font-weight: 300;
      line-height: 80px;
    }
  
   
  